@import "./../../box-settings.scss";
$toppadding: 100px;
:host > mat-nav-list {
    padding-top: 100px;
}
@media (max-width: #{$boxMaxWidth + (2 * $boxMarginHorizontal)}) and (min-width: #{$boxMaxWidth + 1}) {
    :host > mat-nav-list {
        padding-top: calc(50px + #{math.div($toppadding, 4 * $boxMarginHorizontal)}* (100vw - #{$boxMaxWidth}));
    }
}
@media (max-width: #{$boxMaxWidth}) {
    :host > mat-nav-list {
        padding-top: 0px;
    }
}
