@use '@angular/material' as mat;

@import 'src/themes.scss';
:host {
    display: block;
}

div[matlistitemline].subheader {
    span.pattern-text {
        margin-left: 10px;
        font-weight: bold;
        &.late {
            color: mat.m2-get-color-from-palette(map-get($manniwatch-light-theme, warn));
            @media (prefers-color-scheme: dark) {
                color: mat.m2-get-color-from-palette(map-get($manniwatch-dark-theme, warn));
            }
            &:before {
                content: '+';
            }
        }
        &.early {
            color: mat.m2-get-color-from-palette(map-get($manniwatch-light-theme, accent));
            @media (prefers-color-scheme: dark) {
                color: mat.m2-get-color-from-palette(map-get($manniwatch-dark-theme, accent));
            }
        }
    }
}
div.no-departures {
    margin: 15px;
}
