
@import '~@angular/material/theming';

@import 'src/themes.scss';
:host{
    display:block;
}
div.no-departures{
    margin:15px;
}
span.pattern-text{
    font-weight: bold;
}

span.pattern-text.late{
    color: mat-color(map-get($manniwatch-light-theme, warn));
    @media (prefers-color-scheme: dark) {
        color: mat-color(map-get($manniwatch-dark-theme, warn));
    }
}
span.pattern-text.late:before{
    content: '+';
}
span.pattern-text.early{
    color: mat-color(map-get($manniwatch-light-theme, accent));
    @media (prefers-color-scheme: dark) {
        color: mat-color(map-get($manniwatch-dark-theme, accent));
    }
}
$config: mat-typography-config();
h4.title{
    font-size: 16px !important;
    font-family: mat-font-family($config);
    font-weight: 700 !important;
    opacity: 0.87;
    // color:green;
}
p.subtitle{
    font-size: 12px !important;
    font-family: mat-font-family($config);
    line-height:20px;
    font-weight: 600 !important;
    opacity: 0.6;
    // color:red;
}
