/* You can add global styles to this file, and also import other style files */

// @import "@angular/material/prebuilt-themes/indigo-pink.css";
@use '@angular/material' as mat;
@import 'material-design-icons/iconfont/material-icons.css';
@import 'ol/ol.css';
//@import '@angular/material/theming';

@include mat.elevation-classes();
@include mat.app-background();
@import './themes.scss';
// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.

.manniwatch-theme {
    color-scheme: light-dark;
    @include mat.all-component-themes($manniwatch-dark-theme);
}
.manniwatch-theme[theme='dark'] {
    color-scheme: dark;
    @include mat.all-component-themes($manniwatch-dark-theme);
}

.manniwatch-theme[theme='light'] {
    color-scheme: light;
    @include mat.all-component-themes($manniwatch-light-theme);
}
