@use '~@angular/material' as mat;
//@import '~@angular/material/theming';

//@include mat.core();
// Define the default theme (same as the example above).
$manniwatch-light-primary: mat.define-palette(mat.$indigo-palette);
$manniwatch-light-accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);
$manniwatch-light-theme:   mat.define-light-theme($manniwatch-light-primary, $manniwatch-light-accent);

// Include the default theme styles.
// @include mat.all-component-themes($candy-app-theme);


// Define an alternate dark theme.
$manniwatch-dark-primary: mat.define-palette(mat.$blue-grey-palette);
$manniwatch-dark-accent:  mat.define-palette(mat.$amber-palette, A200, A100, A400);
$manniwatch-dark-warn:    mat.define-palette(mat.$deep-orange-palette);
$manniwatch-dark-theme:   mat.define-dark-theme($manniwatch-dark-primary, $manniwatch-dark-accent, $manniwatch-dark-warn);
