@use '@angular/material' as mat;
//@import '@angular/material/theming';

//@include mat.core();
// Define the default theme (same as the example above).
$manniwatch-light-theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: mat.$violet-palette,
        ),
    )
);
// Include the default theme styles.
// @include mat.all-component-themes($candy-app-theme);

// Define an alternate dark theme.
$manniwatch-dark-theme: mat.define-theme(
    (
        color: (
            theme-type: dark,
            primary: mat.$azure-palette,
        ),
    )
);
