@import '~@angular/material/theming';

@include mat-core();
// Define the default theme (same as the example above).
$manniwatch-light-primary: mat-palette($mat-indigo);
$manniwatch-light-accent:  mat-palette($mat-pink, A200, A100, A400);
$manniwatch-light-theme:   mat-light-theme($manniwatch-light-primary, $manniwatch-light-accent);

// Include the default theme styles.
// @include angular-material-theme($candy-app-theme);


// Define an alternate dark theme.
$manniwatch-dark-primary: mat-palette($mat-blue-grey);
$manniwatch-dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$manniwatch-dark-warn:    mat-palette($mat-deep-orange);
$manniwatch-dark-theme:   mat-dark-theme($manniwatch-dark-primary, $manniwatch-dark-accent, $manniwatch-dark-warn);
