:host{
    display:block;
}
mat-list-item ul{
    color:red;
    display:block;
    list-style-type: circle;
    list-style-position: outside;
    li{
        display:list-item;
        padding:0px 20px 0px 20px;
    }
}

div.no-routes{
    margin:15px;
}