name: Workspace Package Labeler
on:
  pull_request_target:
    types: [opened, edited, synchronize]

jobs:
  label:
    name: Label Package PRs
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6.0.2
      - name: Label the PR
        uses: donmahallem/lerna-label@v1.2.2
        with:
          github_secret: "${{ secrets.GITHUB_TOKEN }}"
          prefix: "pkg"
      - name: Label PRs
        uses: actions/labeler@v6
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
