name: Publish Packages
on:
    release:
        types: [published]
    workflow_run:
        workflows: [Version Releases]
        types:
            - completed
jobs:
    release_npm:
        runs-on: ubuntu-latest
        name: Publish Package to NPM
        if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'release' }}
        timeout-minutes: 30
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.2
              with:
                  fetch-depth: 0
                  ref: ${{ github.event.workflow_run.head_branch }}
            - name: Setup Node
              uses: actions/setup-node@v6.2.0
              with:
                  node-version: 24
                  registry-url: 'https://registry.npmjs.org'
            - name: Install Packages
              run: |
                  npm ci
            - name: Build Package
              run: npm run build
            - name: Prepare Package
              run: |
                  npm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}
            - name: Publish Packages
              run: npx lerna publish from-git -y --no-verify-access
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
    release_github:
        runs-on: ubuntu-latest
        name: Publish Package to GITHUB
        if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'release' }}
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.2
              with:
                  fetch-depth: 0
                  ref: ${{ github.event.workflow_run.head_branch }}
            - name: Setup Node
              uses: actions/setup-node@v6.2.0
              with:
                  node-version: 24
            - name: Install Packages
              run: |
                  npm ci
            - name: Build Package
              run: npm run build
            - name: Prepare Package
              run: |
                  npm config set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN }}
            - name: Publish Packages
              run: npx lerna publish from-package -y --no-verify-access --registry https://npm.pkg.github.com/donmahallem
